p {
    text-align: justify;
}

form {
    padding-top: 30px;
}

#paginator {
    padding-top: 25px;
}

.commentFormContainer {
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

